# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# Jupyter Notebook
.ipynb_checkpoints

# IDE specific files
.idea/
.vscode/

# Large data files (optional)
# data/raw/*.csv
